<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Devsone.com</title>
</head>
<body>
    <p style="font-size:18px;">
        Hi @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Thanks for signing up to <a href="http://devsone.com">our site</a>!
    </p>
    <p style="font-size:18px;">
        Please confirm your account by clicking this <a href="@ViewBag.Link">link</a>.
    </p>
    <p style="font-size:18px;"><i>Devsone</i></p>
</body>
</html>
