@model PagedList.IPagedList<Mvc5Project.Models.AdminUserViewModel>

@{
    ViewBag.Title = "Admin Control Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="text-success">@ViewBag.StatusMessage</p>
<p class="text-error">@ViewBag.ErrorMessage</p>


<div class="userview">
    @{Html.RenderPartial("ShowUserDetails");}
</div>

