@model Mvc5Project.Models.PostViewModel

@{
    ViewBag.Title = "AddNewTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddNewTag", "Blog", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <table class="newCatCont">
        <tr>
            <td>Name :</td>
            <td><input class="newCatInp" type="text" name="tagName" /></td>
        </tr>
        <tr>
            <td>UrlSeo :</td>
            <td><input class="newCatInp" type="text" name="tagUrlSeo" /></td>
        </tr>
        <tr>
            <td colspan="2">
                @if (Model != null)
                {
                    <input type="hidden" value="@Model.ID" name="postid" />
                }
                <input class="newCatBtn" type="submit" value="&#x27a5;" />
            </td>
        </tr>
    </table>
}
