@model Mvc5Project.Models.PostViewModel

@{
    ViewBag.Title = "Delete Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("DeletePost", "Blog", FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="delacccont">
        <div class="delaccgrp">
            <div class="delacclbl" style="text-align:center;">Are you sure?</div>
        </div>
        <div class="delaccgrp">
            <input type="hidden" value="@Model.ID" name="postId" />
            <input type="submit" value="Delete Post" class="btn btn-default delaccbtn" />
        </div>
    </div>
}
